<div class="container bg-white p-5">
    <div class="row pt-5 border-top">
        <div class="col col-sm-12 col-lg-8">
                <div class="d-flex gap-2">
                    <h1>The first heading</h1>
                    <h1 class="text-secondary">Will catch your eye</h1>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, voluptates. Minima perferendis, obcaecati voluptatem facere fugiat alias? Alias excepturi similique aliquam, animi quos mollitia nisi quis, nostrum qui atque distinctio.</p>
        </div>
        <div class="col col-sm-12 col-lg-4">
            <img src="./assets/img/1.jpg" class="rounded mx-auto d-block rounded-circle" width="300" height="300" alt="...">
        </div>
    </div>
</div>