<nav class="navbar navbar-expand-lg bg-body-tertiary p-0">
    <div class="container-fluid" id="container-fluid">
        <button type="button" class="btn btn-dark btn-lg">Start Bootstrap</button>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <button type="button" class="btn btn-dark btn-sm">About</button>
                </li>
                <li class="nav-item">
                     <button type="button" class="btn btn-dark btn-sm">Services</button>
                </li>
                <li class="nav-item">
                     <button type="button" class="btn btn-dark btn-sm">Portfolio</button>
                </li>
                <li class="nav-item">
                     <button type="button" class="btn btn-dark btn-sm">Contact</button>
                </li>

            </ul>

        </div>

    </div>

</nav>