<div class="container bg-white p-5">
    <h2>Portfolio</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Fugiat voluptatibus ab accusantium quaerat incidunt quasi explicabo iusto
         esse vel qui, ullam iste exercitationem architecto repudiandae unde rerum
          pariatur reiciendis ratione!
        </p>
    <div class="container text-center ps-0">
        <div class="row">
            <div class="col-4">
                <div class="card border-0 w-75" style="width: 18rem;">
                    <img src="./assets/img/big-project-image.png" class="card-img-top" alt="...">
                    <div class="card-body text-start ps-0">
                        <h5 class="card-title text-primary">Project Name</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card’s content.</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card border-0 w-75" style="width: 18rem;">
                    <img src="./assets/img/big-project-image.png" class="card-img-top" alt="...">
                    <div class="card-body text-start ps-0">
                        <h5 class="card-title text-primary">Project Name</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card’s content.</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card border-0 w-75" style="width: 18rem;">
                    <img src="./assets/img/big-project-image.png" class="card-img-top" alt="...">
                    <div class="card-body text-start ps-0">
                        <h5 class="card-title text-primary">Project Name</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card’s content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>