<div class="container bg-white p-5">
    <div class="row pb-5 border-bottom border-dark">
        <div class="col col-sm-12 col-lg-4">
            <img src="./assets/img/2.jpg" class=" mx-auto d-block rounded-circle" width="300" height="300" alt="...">
        </div>
        <div class="col col-sm-12 col-lg-8">
            <div class="d-flex gap-2">
                <h1>The Second Heading</h1>
                <h1 class="text-secondary">Is Pretty Cool</h1>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam corporis dolores laudantium ducimus quos. Ipsam cum deserunt nemo saepe quo nam magnam? Ex mollitia, placeat sunt repellat suscipit omnis eveniet.</p>
        </div>
    </div>
</div>